#carouselExample {

    margin-top: 100px;
}

.carousel-image {
    object-fit: cover;
    /* Ajusta el tamaño de la imagen para que cubra todo el contenedor */
    height: 520px;
    /* Establece la altura deseada para la imagen */
    object-position: center;
    /* Centra la imagen verticalmente dentro del contenedor */
    opacity: 0.5;
    /* Ajusta el valor de opacidad según tus preferencias */
}

.carousel-control-next-icon {

    margin-left: 100px;

}

.carousel-control-prev-icon {

    margin-right: 100px;
}

.custom-font {

    font-family: "Georgia", sans-serif;
    opacity: 0.8;
}

.carousel-caption {
    height: 70%;
}

.green-bar {
    background-color: #4ec31b;

    height: 100vh;
    width: 100%;
    position: absolute;
    top: calc(100% - 50px);
    /* Ajusta la posición superior de la franja verde según tus necesidades */
    left: 0;
    z-index: 999;
    opacity: 0.65;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0px;
}

.card_1 {
    position: relative;
    z-index: 9999;
    /* Ajusta el valor del z-index según sea necesario para que esté por encima de la franja verde */
    /* Resto de estilos para el .card */

    margin: 60px 0 0 220px;
    border-radius: 30px;

   
}

.card-img-top {

    border: 0px solid #000;
    /* Ancho del borde y color */
    border-radius: 30px;
    /* Radio de esquina del borde */
}

.card-text1 {
    position: absolute;
    top: 44%;
    left: 48%;
    transform: translate(-50%, -50%);
    z-index: 2;
    color: rgb(14, 188, 14);
    font-size: 32px;
}

.card-text2 {
    position: absolute;
    top: 56%;
    left: 54%;
    transform: translate(-50%, -50%);
    z-index: 2;
    color: black;
    font-size: 32px;
}

#icono-lupa {

    position: absolute;
    top: 45%;
    left: 30%;
    transform: translate(-50%, -50%);
    z-index: 2;
    font-size: 30px;
}



.card-text3 {
    background-color: #ffffff;


    position: relative;
    z-index: 9999;
    /* Ajusta el valor del z-index según sea necesario para que esté por encima de la franja verde */
    /* Resto de estilos para el .card */

    margin: 85px 170px -20px -15px;
    border-radius: 30px;
}
.card-title3 {
    margin: 30px 0 0 30px;
    font-size: 25px;
}

.contenido-card3 {
    margin: 50px 0 0 30px;
    font-size: 17.5px;
}
.green-line {
    width: 10%;
    height: 2px;
    background-color: green;
    margin: 40px 0 0 30px

  }

