#carouselExample {

    margin-top: 60px;

}

.carousel-image {
    object-fit: cover;
    /* Ajusta el tamaño de la imagen para que cubra todo el contenedor */
    height: 520px;
    /* Establece la altura deseada para la imagen */
    object-position: center;
    /* Centra la imagen verticalmente dentro del contenedor */
    opacity: 0.5;
    /* Ajusta el valor de opacidad según tus preferencias */
}

.carousel-control-next-icon {

    margin-left: 100px;

}

.carousel-control-prev-icon {

    margin-right: 100px;
}

.custom-font {

    font-family: "Georgia", sans-serif;
    opacity: 0.8;
}

.carousel-caption {
    height: 70%;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0px;


}

.card_1 {
    position: relative;
    z-index: 9999;
    /* Ajusta el valor del z-index según sea necesario para que esté por encima de la franja verde */
    /* Resto de estilos para el .card */

    margin: 60px 0 0 220px;
    border-radius: 30px;




}

.card-img-top {

    border: 0px solid #000;
    /* Ancho del borde y color */
    border-radius: 30px;
    /* Radio de esquina del borde */

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.card-text1 {
    position: absolute;
    top: 44%;
    left: 48%;
    transform: translate(-50%, -50%);
    z-index: 2;
    color: rgb(14, 188, 14);
    font-size: 32px;


}

.card-text2 {
    position: absolute;
    top: 56%;
    left: 54%;
    transform: translate(-50%, -50%);
    z-index: 2;
    color: black;
    font-size: 32px;


}

#icono-lupa {

    position: absolute;
    top: 45%;
    left: 30%;
    transform: translate(-50%, -50%);
    z-index: 2;
    font-size: 30px;


}



.card-text3 {
    background-color: #ffffff;

    position: relative;
    z-index: 999;
    /* Ajusta el valor del z-index según sea necesario para que esté por encima de la franja verde */
    /* Resto de estilos para el .card */

    margin: 85px 170px -20px -15px;
    border-radius: 30px;

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.card-title3 {
    margin: 30px 0 0 40px;
    font-size: 25px;
}

.contenido-card3 {
    margin: 50px 0 0 40px;
    font-size: 17.5px;
}

.green-line {
    width: 10%;
    height: 2px;
    background-color: green;
    margin: 40px 0 0 30px
}

.grid-container2 {

    margin-top: 180px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0px;


}

.card-img-top1 {

    border: 0px solid #000;
    /* Ancho del borde y color */
    border-radius: 30px;
    /* Radio de esquina del borde */
    position: relative;
    z-index: 9999;
    /* Ajusta el valor del z-index según sea necesario para que esté por encima de la franja verde */
    /* Resto de estilos para el .card */
    margin-top: -20px;
    margin-left: 10px;

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);

    height: 85%;
    width: 75%;
}

.card-text4 {
    background-color: #ffffff;

    position: relative;
    z-index: 999;
    /* Ajusta el valor del z-index según sea necesario para que esté por encima de la franja verde */
    /* Resto de estilos para el .card */

    margin: 0px -30px 72px 220px;
    border-radius: 30px;

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.card-title4 {
    margin: 30px 0 0 40px;
    font-size: 25px;
}

.contenido-card4 {
    margin: 50px 60px 0 40px;
    font-size: 17.5px;
}

.green-line {
    width: 10%;
    height: 2px;
    background-color: green;
    margin: 40px 0 0 30px
}

.container-top {
    background-color: rgb(20, 156, 20);
    color: white;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 28px 30px 10px 30px;

    width: 620px;
    margin-left: 850px;

}

.section-top {
    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;
    text-align: center;
}

#icono {
    position: relative;
    transform: translate(-50%, -50%);
    font-size: 24px;

    margin-left: 20px;
}

.section-top h6 {
    max-width: 150px;
    /* Ajusta el ancho máximo según tus necesidades */
    overflow: hidden;
    text-overflow: ellipsis;

    font-size: 14px;

}

