<div id="carouselExample" class="carousel slide">
  <div class="carousel-inner">
    <div class="carousel-item active">

      <img src="assets/reciclajevigo.jpg" class="d-block w-100 carousel-image" alt="...">

      <div class="carousel-caption d-none d-md-block text-black custom-font">
        <h1>Transformando la basura en oportunidades:</h1>
        <h1>Ayudamos al planeta a respirar al darle una segunda</h1>
        <h1>vida a los materiales reciclables</h1>
      </div>

    </div>
    <div class="carousel-item">
      <img src="..." class="d-block w-100 carousel-image" alt="...">
    </div>
    <div class="carousel-item">
      <img src="..." class="d-block w-100 carousel-image" alt="...">
    </div>
  </div>

  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


<div class="green-bar"></div>


<div class="grid-container">
  <div class="card card_1" style="width: 35rem;">
    <img src="/assets/fondo_hojas.png" class="card-img-top" alt="...">
    <i class="fa-solid fa-magnifying-glass" id="icono-lupa"></i>
    <div class="card-text1">Portal de</div>
    <div class="card-text2">transparencia</div>
  </div>

  <div class="card-text3">
    <div class="card-title3">Portal de transparencia de GreenFootprint</div>
    <div class="green-line"></div>
    <p class="contenido-card3">Descubre a nuestro recien estrenado sitio de transparencia, en donde podrás acceder a
      información ampliada y detallista sobre nuestra actividad.</p>
  </div>
</div>



<div class="grid-container2">

  <div class="card-text4">
    <div class="card-title4">El proceso de reciclaje, de principio a fin</div>
    <div class="green-line"></div>
    <p class="contenido-card4">Te explicamos cómo es la cadena, desde que los envases domésticos se 
      ponen en el mercado hasta que llegan a las plantas de reciclaje. Verás, además, de qué forma este
       proceso contribuye a implusar la economía circular.</p>
  </div>

  
    <img src="/assets/img_reciclaje.jpg" class="card-img-top1" alt="...">
  

  
</div>