#carouselExample {

    margin-top: 100px;
}

.carousel-image {
    object-fit: cover; /* Ajusta el tamaño de la imagen para que cubra todo el contenedor */
    height: 500px; /* Establece la altura deseada para la imagen */
    object-position: center; /* Centra la imagen verticalmente dentro del contenedor */
    opacity: 0.5; /* Ajusta el valor de opacidad según tus preferencias */
}

.carousel-control-next-icon {

    margin-left: 100px;
    
}

.carousel-control-prev-icon {

    margin-right: 100px;
}

.custom-font {

    font-family: "Georgia", sans-serif;
}

.carousel-caption {
    height: 70%;
}
  