<nav class="navbar navbar-expand-lg bg-body-transparent">
    <div class="container-fluid">

        <a class="navbar-brand" href="#">
            <img src="assets/logo_footprint.jpg" alt="Bootstrap" width="150" height="100">
        </a>



        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link custom-link" aria-current="page" href="#">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link custom-link" href="#">Nosotros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link custom-link" href="#">Reciclar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link custom-link" href="#">Contáctanos</a>
                </li>
            </ul>
        </div>


        <div class="language-switch">
            <button class="transparent-button" id="en-btn">ES</button>
            <a>/</a>
            <button class="transparent-button" id="es-btn">EN</button>
        </div>


        <div class="inicio-de-sesion">
            <i class="fa-solid fa-user" id="icono-usuario"></i>
            <button style="background-color: transparent; border: none">INICIO DE SESIÓN</button>
        </div>

    </div>

</nav>