<div class="card">
    <img src="/assets/footer-background.jpg" style="height: 600px;" class="footer-image" alt="...">

        <div class="card-container">

          <div style="position: absolute; left: 50%; bottom: 97%; transform: translate(-50%, -50%); font-size: 20px; font-weight: bold;">
            <span style="color: green;">El reciclaje: </span>
            todo lo que debes saber
          </div>          
        
            <div class="card-body card1">
              <img src="assets/reciclaje-separar.jpg" class="card-img-top1" alt="...">
              <h5 class="card-title">La importancia de separar bien</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-success">
                <i class="fa-solid fa-plus" id="buttom-plus"></i>
              </a>
            </div>
          
            <div class="card-body card2">
              <img src="assets/reciclaje-circular.png" class="card-img-top2" alt="...">
              <h5 class="card-title">Sí, tu también puedes fomentar la economía circular</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-success" id="buttom-plus">
                <i class="fa-solid fa-plus"></i>
              </a>
            </div>
          
            <div class="card-body card3">
              <img src="assets/reciclar-beneficios.png" class="card-img-top3" alt="...">
              <h5 class="card-title">¿Por qué reciclar? Estos son los beneficios</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-success" id="buttom-plus">
                <i class="fa-solid fa-plus"></i>
              </a>
            </div>
          </div>
        
    </div>
    

