.card {
    margin-top: 80px;
    position: relative;

}

.footer-image {
    z-index: 9999;
    opacity: 0.9;

}

.card-img-top1 {

    border-radius: 15px 15px 0 0;
    width: 111.5%;
    height: 180px;
    object-fit: cover;

}
.card-img-top2 {

    border-radius: 15px 15px 0 0;
    width: 111.8%;
    height: 180px;
    object-fit: cover;

}
.card-img-top3 {

    border-radius: 15px 15px 0 0;
    width: 111.5%;
    height: 180px;
    object-fit: cover;

}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    margin-bottom: 0;
    padding-top: 0;

    flex-grow: 1;
}


.card-container {
    display: flex;
    gap: 50px;
    position: absolute;
    z-index: 9999;

    margin: 50px 250px 0 250px;

}


.card1,
.card2,
.card3 {
    background-color: white;
    border-radius: 15px;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 50px;

}

.btn{

    border-radius: 50px;
    position: absolute;
    margin: 400px 235px 0 0;
    
}

.card-title {

    margin-top: 20px;
}

